bin/
target/
project/target/

out/*.scala
out/*.solidity
out/*.sol
out/*.txt
out/*.html

.idea/
.idea_modules/
.settings/
.cache
.project
.classpath
*.iml
*.ipr
*.iws

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.lof
*.log
*.lot
*.out
*.synctex.gz
*.toc

# ethereumJ 
database/
logs/

solc-static-linux
.bsp/

tmp.sol
